.icon-bond-etch { background-image: url('png/bond-etch.png'); background-repeat: no-repeat; }

.icon-composites { background-image: url('png/composites.png'); background-repeat: no-repeat; }

.icon-crown-bridge { background-image: url('png/crown-bridge.png'); background-repeat: no-repeat; }

.icon-endodontics { background-image: url('png/endodontics.png'); background-repeat: no-repeat; }

.icon-equipment { background-image: url('png/equipment.png'); background-repeat: no-repeat; }

.icon-finish { background-image: url('png/finish.png'); background-repeat: no-repeat; }

.icon-impressions { background-image: url('png/impressions.png'); background-repeat: no-repeat; }

.icon-orthodontics { background-image: url('png/orthodontics.png'); background-repeat: no-repeat; }

.icon-prepare { background-image: url('png/prepare.png'); background-repeat: no-repeat; }

.icon-prevent-hygiene { background-image: url('png/prevent-hygiene.png'); background-repeat: no-repeat; }

.icon-tips-syringes { background-image: url('png/tips-syringes.png'); background-repeat: no-repeat; }

.icon-tissue-management { background-image: url('png/tissue-management.png'); background-repeat: no-repeat; }

.icon-tooth-whitening { background-image: url('png/tooth-whitening.png'); background-repeat: no-repeat; }

.icon-triodent { background-image: url('png/triodent.png'); background-repeat: no-repeat; }

